@import 'variables';

.header-container {
    padding: 1.25rem 0; 
    
    .nav-brand {
        display: flex;
        align-items: center;

        img{
            height: 50px;
        }

        span {
            margin-left: 2rem;
            color: $color-gray;
            position: relative;
            font-size: .75rem;
            font-weight: 700;
            &::before{  
                content: '';
                height: 2rem;
                width: 2px;
                background: $color-gray-light;

                position: absolute;
                left: -1rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
   
    .search-enterprises {
        display: flex;
        padding: 1rem;
        height: 3.5rem;
        width: 100%;
        max-width: 350px;
        height: 3.5rem;
        background: $color-gray-lighten;
        border-radius: 0.625rem;
        border: 1px solid rgb(206, 212, 218);
        

        svg {
            margin-right: 1rem;
            color: $color-gray;
        }

        input {
            flex: 1;
            border: 0;
            background: transparent;
            outline: 0;
            color: #fff$color-text;
     
            &::placeholder {
                color: #c4c4c4;
            }
        }

        &.focus {
            border-color: #fff;
            svg {
                color: #fff;
            }
        }
    }

    nav.nav {
        a {
            color: $color-text;
            text-decoration: none;
            font-weight: bold;

            img {
                margin-right: 0.5rem;
            }

            &:hover {
                color: $color-red;
            }
        }
    }
}

main {
    position: relative;
    padding-bottom: 2rem;

    .shared-container {
        position: fixed;
        height: 100%;
        max-height: 26.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 1rem;

        .article-actions {
            display: grid;
            gap: 1.5rem;

            button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: transparent;
                border: 0;
                color: $color-text;

                .icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 50%;
                    transition: all 0.2s ease;
                    svg {
                        height: 2rem;
                    }

                    &.heart:hover {
                        background: #FFC7C7;
                        color: $color-red;
                    }

                    &.facebook:hover {
                        background: #C6C7FF;
                        color: #5558fd;
                    }

                    &.default:hover {
                        background: #B2FFDA;
                        color: #03B962;
                    }
                }

                & + li { 
                    margin-top: 1rem;
                }
            }
        }
    }
}

.container-post {
    margin-top: 3.5rem;
    background: #fff;
    border: 1px solid $color-gray-light;
    border-radius: 1.25rem;
    
    .thumbnail {
        img {
            height: 26.25rem;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 1.25rem;
            border-top-right-radius: 1.25rem;
        }   
    }
    .content {
        padding: 2rem;

        .post-header {
            margin-bottom: 2rem;
           
            h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            .description-header {
                display: flex;
                align-items: center;
                margin-top: 2rem;
                .author {
                    display: flex;
                    align-items: center;
                    color: $color-gray;

                    img {
                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        display: block;
                        margin-left: 1rem;
                    }
                }

                .published-at {
                    margin-left: 2rem;
                    color: $color-gray;
                    position: relative;

                    &::before {
                        content: '';
                        height: 5px;
                        width: 5px;
                        border-radius: 50%;
                        position: absolute;
                        background: $color-gray-light;
                        left: -1rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    span + span {
                        margin-left: 1rem;
                        position: relative;
    
                        &::before {
                            content: '';
                            height: 1rem;
                            width: 2px;
                            position: absolute;
                            background: $color-gray-light;
                            left: -0.5rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        .post-body {
            p {
                margin: 1.5rem 0;
            }
        }
    }
}

.call-to-action-container {

    margin-top: 3rem;
    background: $color-gray-lighten;
    padding: 2rem;
    border-radius: 1.25rem;
    color: $color-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    strong {
        font-size: 3rem;
        font-weight: 700;

        .highlight {
            color: $color-red;
        }
    }

    form {
        margin-bottom: 1rem;
        width: 100%;
        max-width: 550px;
        input + input {
            margin-top: 1rem;
        }
        button {
            width: 100%;
            height: 56px;
            margin-top: 1rem;
        }
    }
    p.text-sm {
        font-size: .75rem;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}